# Virtualenv stuffs
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts
pyvenv.cfg
.venv
# Apple weirdness and such
.DS_Store
*.swp
site_build/
__pycache__/

# Local Netlify folder
.netlify
node_modules
package*.json
