---
stamp: 2019-09-23T15:30:13Z 
slug: 53a1559
---
First post!

{end}
---
slug: b0e5d45
stamp: 2019-09-23T19:55:41Z
---
To make more posts, just keep appending to this file. Put `{end}` on a line between posts, and a YAML document with `slug` and `stamp` on the top of each post, set off by the customary `---`. (`slug` can be any arbitrary unique string. Personally, I favor random 7-digit hex codes.) Don't put `{end}` after the last post on the page; save it for when creating a new post below.

{end}
---
slug: cbce371
stamp: 2019-09-23T18:15:02Z
---
Copypasta boilerplate for adding a new post:

```plain-text
{end}
---
slug: 
stamp: 
---
```

{end}
---
stamp: 2019-09-23T16:35:11Z
slug: ef2eb1b
---
Last post (for now)!
