<!doctype html>
<html lang="en" class="no-js">	
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>~tym smol pomes</title>
    <meta name="description" content="haikus by Thomas Yager-Madden">
    <link rel="canonical" href="https://pomes.ty-m.pw/">
    <link rel="stylesheet" href="/style.css">
    <link rel="alternate" type="application/atom+xml" href="/feed.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
<body>
    <div class="wrapper">
        <header>
          <h1>~tym smol pomes</h1>
          <h2><a href="https://en.wikipedia.org/wiki/Haiku_in_English">haikai in english</a> by Thomas Yager-Madden</h2>
        </header>
        <main>
        {% for post in posts %}
            <div class="post">
                {{ post.content | safe }}
                <p class="post-stamp">
                    <a href="/{{ post.metadata.slug }}">
                    {{ post.metadata.stamp.isoformat() }}</a>
                </p>
            </div>
        {% endfor %}
        </main>
        <footer>
        {# TODO: move all this logic to the script #}
                <p><a href="/">home</a>
                {% if total > 0 %}
                 | 
                {% endif %}
                {% if page == 1 %}
                <a href="/index.html">newer</a> 
                {% elif page > 1 and page <= total %}
                <a href="/index{{ page - 1 }}.html">newer</a>
                {% endif %}
                {% if page > 0 and page < total %}
                 | 
                {% endif %}
                {% if page < total %}
                <a href="/index{{ page + 1 }}.html">older</a>
                {% endif %}
                </p>
        </footer>
    </div>
</body>
</html>
