<!doctype html>
<html lang="en" class="no-js">	
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>xqo</title>
    <meta name="description" content="semi-anonymous microblog by a minuscule part of the universe">
    <link rel="canonical" href="https://xqo.wtf">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
<body>
    <div class="wrapper">
        <header><h1>xqo dot wtf</h1></header>
        <main>
        {% for post in posts %}
            <div class="post">
                {{ post.content | safe }}
                <p class="post-stamp">
                    <a href="/{{ post.metadata.slug }}">
                    {{ post.metadata.stamp }}</a>
                </p>
            </div>
        {% endfor %}
        </main>
        <footer>
                <p><a href="/">home</a> | 
                {% if page == 1 %}
                <a href="/index.html">newer</a> 
                {% elif page > 1 and page <= total %}
                <a href="/index{{ page - 1 }}.html">newer</a>
                {% endif %}
                {% if page > 0 and page < total %}
                 | 
                {% endif %}
                {% if page < total %}
                <a href="/index{{ page + 1 }}.html">older</a>
                {% endif %}
                </p>
        </footer>
    </div>
</body>
</html>