@font-face {
  font-family: "EB Garamond";
  src: url("font/EBGaramond-Regular.woff2") format("woff2"),
    url("font/EBGaramond-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Iosevka SS17 Web";
  src: url("font/iosevka-ss17-regular.woff2") format("woff2"),
    url("font/iosevka-ss17-regular.ttf") format("truetype");
  font-display: swap;
}

html,
body {
  height: 100%;
}

body {
  display: flexbox;
  margin: auto;
  background: #f1f3f5;
  color: #484f56;
  font-family: "EB Garamond", serif;
  font-size: 133%;
  line-height: 150%;
}



main {
  padding: 1em;
}

header {
  color: #5c940d;
  padding-left: 1em;
}

header h1 {
  font-size: 1.33em;
}

header h1 a:link,
header h1 a:visited {
  border-bottom: none;
  color: #5c940d;
}

header h2 {
  font-family: "Iosevka SS17 Web", monospace;
  font-size: 0.5em;
  color: #6e7275;
}

footer {
  text-align: center;
}

.wrapper {
  width: calc(100% - 3em);
  max-width: 600px;
}

.post {
  margin-top: 1em;
  font-size: 0.9em;
  padding-bottom: 1.33em;
}

.post h1 {
  font-size: 1.2em;
}

.post img {
    max-width: 87%;
}

.post-stamp,
footer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.618em;
  text-align: right;
}

a:link,
a:visited {
  color: #adb5bd;
  text-decoration: none;
  border-bottom: 1px solid #94d82d;
}

a:hover,
a:active {
  background: #ddd;
  border: none;
}

code {
  font-family: "Iosevka SS17 Web", monospace;
  font-size: 0.81em;
  color: #343a40;
}
